html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	background-color: #dde6fc;
	color: #242424d9;
	position: relative;
	font-family: 'Open Sans', Arial, sans-serif;
}

body:after,
body:before {
	content: "";
	position: absolute;
	/* filter: blur(30px);
  	-webkit-filter: blur(30px); */
	z-index: -1;
}

body:after {
	top: 60%;
	left: 0%;
	width: 50%;
	padding-bottom: 50%;
	border-radius: 50%;
	background-image: -webkit-radial-gradient(
		15px 15px,
		circle,
		#7258fe,
		#cb7aff
	);
	background-image: radial-gradient(15px 15px 45deg, circle, #7258fe, #cb7aff);
}

body:before {
	top: 10%;
	right: 5%;
	width: 20%;
	padding-bottom: 20%;
	border-radius: 50%;
	background-image: -webkit-radial-gradient(
		15px 15px,
		circle,
		#dd58fe,
		#fc61c0
	);
	background-image: radial-gradient(15px 15px 45deg, circle, #dd58fe, #fc61c0);
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	cursor: pointer;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

canvas {
	position: absolute;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}